OPENAI_API_KEY="<YOUR_OPENAI_API_KEY>"
PINECONE_API_KEY="<YOUR_PINECONE_API_KEY>"
SUPABASE_URL="https://<YOUR_SUPABASE_PROJECT_ID>.supabase.co"
SUPABASE_KEY="<YOUR_SUPABASE_KEY>"

[chatbot_settings]
chatbot_name = "Intelligent Course Assistant"
course_name = "Natural Language Processing"
llm = "gpt-4o-mini"
embedding = "text-embedding-3-large"
temperature = 0.1
pinecone_index = "nlp-course"
system_prompt = "You are a virtual teaching assistant for the Natural Language Processing course and your job is to follow student's instructions and answer their questions regarding the course based on the course material. If the answer to the question could not be found in the provided context, notify students and then respond from your own knowledge. Respond using markdown."